.menu-item {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: .9vw;
  line-height: 1.15vw;
  background-color: #ecf79b;
  border-bottom: solid 1px #fff;
  padding: 0.5vw 20px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5eabe7;
  display: table;
  width: 100%;
}

nav li {
  display: table-cell;
}

/* .wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
} */

header {
  margin-top: 35px;
}

/* .myname {
  height: 30vh;
  background-color: blue;
  position: relative;
  z-index: 2;
}

.hi {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 5vw;
  position: relative;
  right: 25px;
  bottom: 150px;
}

.Eden {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20vw;
  text-align: center;
  position: relative;
  right: 50px;
  bottom: 200px;
}

.headervideo {
  height: 50vh;
  background-color: red;
}

@media only screen and (max-width: 1400px) {
  .hi {
    font-size: 5vw;
    position: relative;
    right: 25px;
    bottom: 150px;
  }
  
  .Eden {
    font-size: 20vw;
    position: relative;
    right: 50px;
    bottom: 135px;
  }
} */

/* .name-wrapper {
  text-align: center;
  font-size: 5vw;
}

.image-wrapper {
  text-align: center;
  margin-top: -150px;
}

.header-image {
  width: 100%;
} */

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #ecf79b;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 150px;
  position: relative;
  top: 200px;
  color: #5eabe7;
}

.hi {
  position: relative;
  bottom: 50px;
  font-size: 50px;
}

.img {
  width: 100%;
  height: auto;
}

.ilc-inline-text {
  display: flex;
}

.ilc-inline-text-info {
  display: block;
  flex: 1 1 auto;
}

.ilc-inline-text-name {
  display: inline;
}

.ilc-inline-text-img-wrapper {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.ilc-inline-text-name span.ilc-words-on-line-above-a {
  position: relative;
  z-index: 1;
}

.ilc-inline-text-small-text {
  display: inline-block;
  position: relative;
  vertical-align: top;
  white-space: normal;
  max-width: 100px;
  top: 14px;
  font-size: 15px;
  line-height: 1.1em;
  transition: all ease-in-out 200ms;
}

.marquee-container {
  height: 30px;
  overflow: hidden;
  line-height: 30px;
}

  .marquee {
    left: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    animation: marquee 30s linear infinite;
  }

  .marquee2 {
    animation-delay: 15s;
  }
  b {
    padding-left: 10px;
  }


@keyframes marquee {
  0% {
    left: 100%;
  }
  100% {
    left: -100%
  }
}

.button4 {
  background-color: white;
  color: black;
  border: 2px solid #000000;
  border-radius: 30px;
  font-size: 40px;
}

.button4:hover {
  background-color: #000000;
  color: white
}

.symbol {
  font-size: 70px;
}