.menu-item {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: .9vw;
  line-height: 1.15vw;
  background-color: #fff;
  border-bottom: solid 1px #131313;
  padding: 0.5vw 20px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5eabe7;
  display: table;
  width: 100%;
}

nav li {
  display: table-cell;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
}

header {
  margin-top: 35px;
}

.myname {
  height: 30vh;
  background-color: blue;
  position: relative;
  z-index: 2;
}

.hi {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 5vw;
  position: relative;
  right: 25px;
  bottom: 150px;
}

.Eden {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20vw;
  text-align: center;
  position: relative;
  right: 50px;
  bottom: 200px;
}

.headervideo {
  height: 50vh;
  background-color: red;
}

@media only screen and (max-width: 1400px) {
  .hi {
    font-size: 5vw;
    position: relative;
    right: 25px;
    bottom: 150px;
  }
  
  .Eden {
    font-size: 20vw;
    position: relative;
    right: 50px;
    bottom: 135px;
  }
}