
/* Generic body styling */
body {
  margin: 0px;
  background-color: white;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: white;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 999;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: solid 1px #131313;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  margin: 8px;
}

.topnav span {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  margin: 8px;
}

/* Contact button in menu bar */
.contact-button {
  background-image: linear-gradient(236deg, #e0cae2, #feeeb3 51%, #d5e2db);
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
  letter-spacing: 2px;
  margin-right: 30px;
}

.contact-button:hover {
  background-image: none !important;
  background-color: #604c3f;
  cursor: pointer;
  color: #ccd997;
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
  letter-spacing: 2px;
  font-weight: bold;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #604c3f;
  cursor: pointer;
  color: #ccd997;
  border-radius: 25px;
  font-weight: bold;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #f2c96c;
  color: white;
  font-weight: bold;
  border-radius: 25px;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

/* Header top margin */
header {
  margin-top: 0px;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.title {
  width: 100%;
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 150px;
  position: relative;
  top: 200px;
  color: #5eabe7;
}

.hi {
  position: relative;
  bottom: 50px;
  font-size: 50px;
}

.img {
  width: 100%;
  height: auto;
  margin-top: 30px;
}

/* Main text */
.main-text-div {
  display: flex;
  text-align: center;
  padding: 50px;
  padding-left: 300px;
  padding-right: 300px;
  margin-bottom: 300px;
  margin-top: -130px;
  font-size: 20px;
}

.main-text-div-inner {
  display: block;
  flex: 1 1 auto;
  line-height: 60px;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 50%;
}

.main-text {
  display: inline;
  text-align: center;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}

h1:first-child,
h2:first-child,
h3:first-child {
  margin-top: 0;
}

span.main-text-img-wrapper {
  height: 0.8em;
}

.main-text-img-wrapper {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.main-text-img-wrapper img {
  position: relative;
  height: 100%;
  top: 0px;
  left: 0px;
  border-radius: 8px;
}

img {
  max-width: 100%;
  border: 0;
}

.small-text {
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  max-width: 200px;
  font-size: 25px;
  line-height: 1.1em;
  transition: all ease-in-out 200ms;
  border: solid;
  border-radius: 25px;
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
  background-color: #ccd997;
  color: #604c3f;

}

.small-text:hover {
  background-color: #604c3f;
  cursor: pointer;
  color: #ccd997;
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
}

a {
  background-color: transparent;
}

.bubble-link-arrow {
  text-transform: uppercase;
  border: solid 1px transparant;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.bubble-link-arrow:hover {
  background-color: #604c3f;
  cursor: pointer;
  color: white;
}

.btn {
  background-color: #f2c96c;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border-radius: 25px;
  border-radius: 30px;
  font-size: 40px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn:hover {
  background-color: #604c3f;
  cursor: pointer;
  color: #ccd997;
}

.symbol {
  font-size: 40px;
}

.edenname {
  text-shadow: 0 0 20px #f2c96c;
  font-size: 70px;
  font-weight: bold;
}

b {
  text-shadow: 0 0 20px #f2c96c;
  font-size: 30px;
  font-weight: bold;
}

.buttons-symbols {
  position: relative;
  text-align: center;
  padding-bottom: 50px;
}


.button-symbol-item {
  display: inline-block;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.eden-emoji {
  text-align: center;
  height: 200px;
}

.get-to-know-me {
  text-align: center;
  margin-top: 50px;
}

.get-to-know-button {
  background-image: linear-gradient(236deg, #e0cae2, #feeeb3 51%, #d5e2db);
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
  letter-spacing: 2px;
  margin-right: 30px;
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
}

/* Media Rules */

@media only screen and (max-width: 1340px) {
  .main-text-div {
    padding-left: 15vw;
    padding-right: 15vw;
  }
  .btn {
    font-size: 33px;
  }
}
@media only screen and (max-width: 1040px) {
  .main-text-div {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .btn {
    font-size: 27px;
  }
  .eden-emoji {
    max-width: 150px;
    max-height: 150px;
  }
}
@media only screen and (max-width: 840px) {
  .main-text-div {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .btn {
    font-size: 23px;
  }
  .topnav-right a {
    font-size: 14px;
  }
  .eden-emoji {
    max-width: 100px;
    max-height: 100px;
  }
  .main-text-img-wrapper {
    font-size: 22px;
  }
  .get-to-know-me {
    font-size: 24px;
  }
  b {
    font-size: 26px;
  }
  .edenname {
    font-size: 28px;
  }
}
@media only screen and (max-width: 700px) {
  #datetime {
    display: none;
  }
  .main-text-div {
    padding-left: 1.5vw;
    padding-right: 1.5vw;
  }
  .btn {
    font-size: 18px;
  }
}

@media only screen and (max-width: 545px) {
  .main-text-img-wrapper {
    font-size: 12px;
    line-height: 3em;
  }
  .get-to-know-me {
    font-size: 14px;
  }
  b {
    font-size: 16px;
  }
  .edenname {
    font-size: 18px;
  }
  .topnav-right a {
    font-size: 12px;
  }
  .buttons-symbols {
    top: 50px;
  }
  .topnav-right a {
    font-size: 12px;
  }
  .img {
    padding-top: 70px;
  }
}
@media only screen and (max-width: 469px) {
  .buttons-symbols {
    top: 120px;
  }
}
@media only screen and (max-width: 400px) {
  .buttons-symbols {
    top: -130px;
  }
  .topnav-right a {
    font-size: 10px;
  }

  .main-text-div {
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    font-size: 12px;
  }
}
@media only screen and (max-width: 365px) {
  .buttons-symbols {
    top: 300px;
  }
  .topnav-right a {
    font-size: 12px;
  }
}
@media only screen and (max-width: 300px) {
  .buttons-symbols {
    top: 350px;
  }
  .topnav-right a {
    font-size: 12px;
  }
}